@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .footer-top {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .nav-container-2 {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .hero-review-wrapper p {
    text-align: center;
    font-size: 0.5rem;
  }
  .hero-label {
    width: 320px;
  }
  .span-label-text {
    font-size: 0.7rem;
  }
}
