@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .footer-top {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media screen and (max-width:500px) {
    .nav-container-2{
        display: hidden;
    }
    
}

nav-container-2


