/* below 768px for tablet */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .cta-wrapper span,
  p {
    font-size: 0.8rem;
  }
  .footer-top {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .footer-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-bottom-links {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-social {
    width: 100%;
    justify-content: center;
  }
}

/* below 500px for mobile screens */
@media screen and (max-width: 500px) {
  .nav-container-2 {
    display: none;
  }

  .cta-wrapper span,
  p {
    font-size: clamp(0.7rem, 1.5vw, 1rem);
  }
  .hamburger {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 180px;
    height: 180px;
  }
  .hero-review-wrapper p {
    text-align: center;
    font-size: 0.5rem;
  }
  .hero-label {
    width: 320px;
  }
  .span-label-text {
    font-size: 0.7rem;
  }
}
